In [1]:
import pandas as pd

In [2]:
features_df = pd.read_csv('../dataset/Features data set.csv')
sales_df = pd.read_csv('../dataset/sales data-set.csv')
stores_df = pd.read_csv('../dataset/stores data-set.csv')
print("All Dataset Loaded Successfully!!!!")

All Dataset Loaded Successfully!!!!

In [3]:
# convert date columns to datetime
features_df['Date'] = pd.to_datetime(features_df['Date'],format = "%d/%m/%Y")
sales_df['Date'] = pd.to_datetime(sales_df['Date'], format = "%d/%m/%Y")

In [4]:
# handle missing values in Features Dataset.
for col in ['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']:
    features_df[col] = features_df[col].fillna(0)

In [5]:
features_df['CPI'] = features_df['CPI'].fillna(features_df['CPI'].median())
features_df['Unemployment'] = features_df['Unemployment'].fillna(features_df['Unemployment'].median())

In [6]:
# merge the datasets
merged_df = pd.merge(sales_df, features_df, on=['Store','Date','IsHoliday'], how='left') 
merged_df = pd.merge(merged_df, stores_df, on ='Store',how = 'left')

In [7]:
# create date based features
merged_df['Year'] = merged_df['Date'].dt.year
merged_df['Month'] = merged_df['Date'].dt.month
merged_df['Week'] = merged_df['Date'].dt.isocalendar().week

In [8]:
# Final Dataset
print("Final Merged Dataset Shape: ",merged_df.shape)
print(merged_df.head())
print("\nMissing Values after Merge:\n",merged_df.isna().sum())

Final Merged Dataset Shape:  (421570, 19)
   Store  Dept       Date  Weekly_Sales  IsHoliday  Temperature  Fuel_Price  \
0      1     1 2010-02-05      24924.50      False        42.31       2.572
1      1     1 2010-02-12      46039.49       True        38.51       2.548
2      1     1 2010-02-19      41595.55      False        39.93       2.514
3      1     1 2010-02-26      19403.54      False        46.63       2.561
4      1     1 2010-03-05      21827.90      False        46.50       2.625

   MarkDown1  MarkDown2  MarkDown3  MarkDown4  MarkDown5         CPI  \
0        0.0        0.0        0.0        0.0        0.0  211.096358
1        0.0        0.0        0.0        0.0        0.0  211.242170
2        0.0        0.0        0.0        0.0        0.0  211.289143
3        0.0        0.0        0.0        0.0        0.0  211.319643
4        0.0        0.0        0.0        0.0        0.0  211.350143

   Unemployment Type    Size  Year  Month  Week
0         8.106    A  151315  2010      2     5
1         8.106    A  151315  2010      2     6
2         8.106    A  151315  2010      2     7
3         8.106    A  151315  2010      2     8
4         8.106    A  151315  2010      3     9

Missing Values after Merge:
 Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
Year            0
Month           0
Week            0
dtype: int64

In [12]:
# save new merged file
merged_df.to_csv("../dataset/merged_retail_dataset.csv", index=False)

In [13]:
#load the saved csv
df = pd.read_csv("../dataset/merged_retail_dataset.csv")
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size,Year,Month,Week
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,0.0,0.0,0.0,211.096358,8.106,A,151315,2010,2,5
1,1,1,2010-02-12,46039.49,True,38.51,2.548,0.0,0.0,0.0,0.0,0.0,211.242170,8.106,A,151315,2010,2,6
2,1,1,2010-02-19,41595.55,False,39.93,2.514,0.0,0.0,0.0,0.0,0.0,211.289143,8.106,A,151315,2010,2,7
3,1,1,2010-02-26,19403.54,False,46.63,2.561,0.0,0.0,0.0,0.0,0.0,211.319643,8.106,A,151315,2010,2,8
4,1,1,2010-03-05,21827.90,False,46.50,2.625,0.0,0.0,0.0,0.0,0.0,211.350143,8.106,A,151315,2010,3,9

In [14]:
df.isna().sum()

Store           0
Dept            0
Date            0
Weekly_Sales    0
IsHoliday       0
Temperature     0
Fuel_Price      0
MarkDown1       0
MarkDown2       0
MarkDown3       0
MarkDown4       0
MarkDown5       0
CPI             0
Unemployment    0
Type            0
Size            0
Year            0
Month           0
Week            0
dtype: int64